 <html>
    <head>
        <title>Sentinel</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        
        <div id="container">
            <div class="title">
                <h1>Sentinel-Sentimental analysis for customer comments</h1>
            </div>
            <div id="content">
            <a href="{{ url_for('index') }}"><button>Back to Index</button></a>
            </div>
            </div>
        <div id="container">
                <div class="title"><h1>{{product.Prod_title}}</h1></div>
                <div class="content">
                    Description : {{product.Prod_desc}}
                    Created Time : {{product.time}}
                    Product positive sentiment : {{product.prod_p_value}}
                    Product negative sentiment : {{product.prod_n_value}}
                    {% if check == "Y" %}
                    {% include 'comment.html' %}
                    {% endif %}
                    {%if check == "N" %}
                    {% include 'notavail.html' %}
                    {% endif %}
                    
                </div>
                </div>
        <div id="container">
                <div class="title"><h1>Add comment</h1></div>
                <div class="content">
                    <form name="myForm1" method="post" action="{{ url_for('addcomment',variable=product.prod_id) }}" >
                  <label for="commentsection">Please enter your comment:</label>
                  <input type="text" name="comment" required autocomplete="off"/><br />
                  <button id="button" type="submit">Submit</button>
                </form>
                </div>
        </div>
        <div id="container"><footer><p style="text-align:center;">This site is designed by Joshua &#38; Sridhar &#169; 2016</p></footer></div>
       

    </body>
</html>

