 <html>
    <head>
        <title>Sentinel-Sentimental analysis for customer comments</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        
        <div id="container">
            <div class="title">
                <h1>Sentinel-Sentimental analysis for customer comments</h1>
            </div>
            <div id="content">
            <a href="{{ url_for('admin') }}"><button>Admin panel</button></a>
            </div>
            </div>
        <div id="container">
            <div class="title"><h1>Product lists</h1></div>
        <div id="content">
            <p>Showing {{count}} number of products</p>
            {% for item in result %}
               <div id="container">
                    <a href="{{url_for('prod', variable=item.prod_id)}}"><div class="title"><h1>{{item.prod_id}}.{{item.Prod_title}}</h1></div></a>
                   <div id="content">Description:{{item.Prod_desc}}<br />Time:{{item.time}}<br />Product positive sentiment:{{item.prod_p_value}} <br />Product negative sentiment:{{item.prod_n_value}}</div>

               </div> 
            {%endfor%}
        </div>
        </div>
        
        </div>
        <div id="container"><footer><p style="text-align:center;">This site is designed by Joshua &#38; Sridhar &#169; 2016</p></footer></div>
       

    </body>
</html>

