<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
	<title>Sentinel-Sentimental analysis for customer comments</title>
</head>
<body>
	<div id="container">
		<div class="title">
			<h1>Sentinel-Sentimental analysis for customer comments</h1>
		</div>
	</div>
	<div id="container">
		<div class="title"><h1>Success<h1></div>
		<div id="content">
               {{content}} Successfully added!!!!!
            </div>
        
	</div>
</body>
</html>